<%= form.fields_for :lyrics do |lyr_form| %>
	<div class="field">
		<%= lyr_form.label :language %>
		<%= lyr_form.text_field :language %>
	</div>
	<div class="field">
		<%= lyr_form.label :body %>
		<%= lyr_form.text_area :body %>
	</div>  
<% end %>
