= f.fields_for :lyrics do |lf|
  - active = 'active' if lf.object.lang_code == languages.first
  - code = lf.object.new_record? ? 'new_lang' : lf.object.lang_code
  .tab-pane{role: "tabpanel", id: code, class: active}
    .form-group
      = lf.label :lang_code
      = lf.select :lang_code, :options => LangcodeHelper.option_list,:class => 'form-control input-with-feedback', :include_blank => :true
    .form-group
      = lf.label :title_in_language
      = lf.text_field :title_in_language, :class => 'form-control input-large input-with-feedback'
    = partial 'songs/credits', locals: {code: code, f: f}
    .form-group
      = lf.label :words
      = lf.text_area  :words, :class => 'form-control input-large input-with-feedback', rows: 12
    .checkbox
      %label
        = lf.check_box :canonical
        = mat(:lyrics, :canonical)

.form-actions.pull-right
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:songs, :index), :class => 'btn btn-default'
