- error = @song.errors.include?(:lyricist)
.form-group
  = f.label :title
  = f.text_field :title, :class => 'form-control input-large input-with-feedback'

.form-group{:class => error ? 'has-error' : ''}
  .col-md-4
    = f.label :lyricist
    = f.text_field :lyricist, :class => 'form-control input-large input-with-feedback', :autofocus => true
    -#%span.help-inline=error ? f.error_message_on(:lyricist, :class => 'text-error') : pat(:example)
  - error = @song.errors.include?(:composer)
  .col-md-4
    = f.label :composer
    = f.text_field :composer, :class => 'form-control input-large input-with-feedback'
    -#%span.help-inline=error ? f.error_message_on(:composer, :class => 'text-error') : pat(:example)
  - error = @song.errors.include?(:arranged_by)
  .col-md-4
    = f.label :arranged_by
    = f.text_field :arranged_by, :class => 'form-control input-large input-with-feedback'
    -#%span.help-inline=error ? f.error_message_on(:arranged_by, :class => 'text-error') : pat(:example)

= f.fields_for :lyrics do |lf|
  .form-group
    = lf.label :lang_code
    = lf.text_field :lang_code, :class => 'form-control input-large input-with-feedback'
  .form-group
    = lf.label :words
    = lf.text_area  :words, :class => 'form-control input-large input-with-feedback'
  .checkbox
    %label
      = lf.check_box :canonical
      = mat(:lyrics, :canonical)


.form-actions.pull-right
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:songs, :index), :class => 'btn btn-default'
